@model Ipek_Helpdesk.Tickets.TicketDto
@{
    var hiddenClass = !Model.IsClosed ? "hidden" : string.Empty;  
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cosmo/bootstrap.min.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div style="margin: auto; width: 1140px;">
    <h2>Helpdesk <small>ticket</small> </h2>
    <hr />

    <dl class="dl-horizontal">
        <dt>Agent</dt>
        <dd>@Model.AssignedTo</dd>
        <dt>Subject</dt>
        <dd>@Model.Subject</dd>
        <dt>Agent notes</dt>
        <dd>@Model.AgentClosingMessage</dd>
    </dl>

    <hr />

    <h2>Re-open <small>the ticket?</small></h2>
    <p id="actionMessage"></p>
    <form id="form">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RefId)
        @Html.TextAreaFor(m => m.OwnersReopenMessage, 3, 159, new { placeholder = "Re-opening reason..." })
        <p id="btnOpen" style="text-align: center; padding-top: 15px;" class="@hiddenClass">
            <a href="javascript: Reopen();" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span> Re-open
            </a>
        </p>
    </form>
</div>
<script type="text/javascript">
    function Reopen() {
        $.ajax({
            type: "POST",
            url: "/Enduser/Reopen",
            data: $("#form").serialize(),
            success: function () {
                $("#actionMessage").html("<div class='alert alert-success'>Ticket has been re-opened successfully!</div>");
                $("#btnOpen").html(null);
            },
            error: function (data) {
                var message = "Something went wrong! I can not re-open the ticket...";
                $("#actionMessage").html(message);
            }
        });
    }
</script>